<div class="container">
  <div class="row">
    <h4 class="mb-3">Listagem de Empregados</h4>
    <table class="table">
      <thead class="thead-light">
      <tr>
        <th scope="col">#</th>
        <th scope="col">Nome</th>
        <th scope="col">Sobrenome</th>
        <th scope="col">Email</th>
        <th scope="col">Genero</th>
        <th scope="col">Telefone</th>
        <th scope="col" class="text-center">Ações</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let empregado of empregados | async">
        <th scope="row">{{empregado.id}}</th>
        <td>{{empregado.nome}}</td>
        <td>{{empregado.sobrenome}}</td>
        <td>{{empregado.email}}</td>
        <td>{{empregado.genero}}</td>
        <td>{{empregado.telefone}}</td>
        <td class="text-center">
          <button type="button" (click)="removeEmpregado(empregado.id)" class="btn-sm btn-danger">Remover</button>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
<div class="container">
  <hr class="mb-6">
</div>
<div *ngFor="let empregado of empregados | async">
  <app-detalhes-empregado [empregado]="empregado"></app-detalhes-empregado>
</div>
<div class="container">
  <div class="row">
    <button type="button" (click)="removerTodosEmpregado()" class="btn-sm btn-danger">Remover Todos</button>
  </div>
</div>


